@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Personel Listesi</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Service İkonu</th>
                                    <<th>Service Adı</th>
                                    <th>Service Açıklaması</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ServiceId</td>
                                        <td>@item.ServiceIcon</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-success">Güncelle</a></td>
                                       

                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                   <th>#</th>
                                    <th>Service İkonu</th>
                                    <<th>Service Adı</th>
                                    <th>Service Açıklaması</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/Service/AddService" class="btn btn-info">Yeni Servis Ekle</a>
